body {
    background-color: rgb(114, 183, 100);
    color: rgb(14, 14, 14);
}

img{
    width:40vw;
    height:auto;
}

p{
    font-family:Arial, Helvetica, sans-serif;
font-size: 50px; 

}

.subparrafo{
    font-size:40px;
    color: rgb(224, 207, 15);
}

#final{
    font-size: 30px;
}
